/* font-family: 'Inter', sans-serif; */

/* Pallet */
/* blue: #9BC6F6 */
/* LIGHT BLUE: #9FEAEA */
/* GREEN: #9BF6C2 */


/* GENERAL STYLING */
/* ========================================================= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f1ffff;
    cursor: url("../favicon.ico"), auto;
}

a{
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

li {
    text-decoration: none;
    list-style: none;
    float: left;
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/* ========================================================= */
/* Control Bar Section */
/* ========================================================= */

/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

/* GLOBAL STYLING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --dark-grey: #333333;
  --medium-grey: #636363;
  --light-grey: #eeeeee;
  --ash: #f4f4f4;
  --primary-color: #2b72fb;
  --white: white;
  --border: 1px solid var(--light-grey);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

body {
  font-family: inherit;
  background-color: var(--white);
  color: var(--dark-grey);
  letter-spacing: -0.4px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}


/* REUSABLE STYLING */

.btn-primary {
    display: block;
    background-color: #00b34d;
    color: var(--white);
    text-align: center;
    padding: 0.6rem 1.4rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    transition: all 0.5s;
  }

.btn-primary:hover{
    box-shadow: #00b34ea1 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
  .icon {
    padding: 0.5rem;
    background-color: var(--light-grey);
    border-radius: 10px;
  }
  
  .logo {
    margin-right: 1.5rem;
  }
  
  #nav-menu {
    height: 85px;
    border-bottom: var(--border);
    background-color: #9bf6c2c4;
    /* Fixed position to make the scrolling animation */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .3s;
    z-index: 10;
}
  
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    column-gap: 2rem;
    height: 90px;
    padding: 1.2rem 3rem;
  }

/* nav bar container */

.menu {
    position: relative;
    background-color: transparent;
  }
  
  .menu-bar li:first-child .dropdown {
    flex-direction: initial;
    min-width: 480px;
  }
  
  .menu-bar li:first-child ul:nth-child(1) {
    border-right: var(--border);
  }
  
  .menu-bar li:nth-child(n + 2) ul:nth-child(1) {
    border-bottom: var(--border);
  }
  
  .menu-bar .nav-link {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.6px;
    padding: 0.3rem;
    min-width: 60px;
    margin: 0 0.6rem;
  }
  
  .menu-bar .nav-link:hover,
  .dropdown-link:hover {
    color: #daeafc;
  }
  
  .nav-start,
  .nav-end,
  .menu-bar,
  .right-container,
  .right-container .search {
    display: flex;
    align-items: center;
  }

/* right side navbar */

.right-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
   
  .right-container img {
    border-radius: 50%;
  }
  
  #hamburger {
    display: none;
    padding: 0.1rem;
    margin-left: 1rem;
    font-size: 1.9rem;
  }

/* Make it responsive */


@media (max-width: 1100px) {
    #hamburger {
      display: block;
    }
  
    .container {
      padding: 1.2rem;
    }
  
    .menu {
      display: none;
      position: absolute;
      top: 87px;
      left: 0;
      min-height: 100vh;
      width: 100vw;
    }

    .menu.show,
    .dropdown.active {
      display: block;
      z-index: 1;
      background-color: white;
    }
  
  
    .menu-bar li:first-child ul:nth-child(1) {
      border-right: none;
      border-bottom: var(--border);
    }
  
    .menu-bar {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      row-gap: 1rem;
      padding: 1rem;
    }
  
    .menu-bar .nav-link {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: 600;
      font-size: 1.2rem;
      margin: 0;
    }
  
    .menu-bar > li:not(:last-child) {
      padding-bottom: 0.5rem;
      border-bottom: var(--border);
    }
  }
  
  @media (max-width: 600px) {
    .right-container {
      display: none;
    }
  }

/* ========================================================= */
/* Index page */
/* ========================================================= */

/* Header section */

#hero {
    position: relative;
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  #hero h1 {
    color: #a5ccf9;
    text-align: center;
    text-transform: uppercase;
    font-size: 6rem;
    font-family: 'Jost', sans-serif;;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh;
  }
  
  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    width: 100%;
    height: 120vh;
    opacity: 0.2;
  }



/* INFO Header SECTION */

#hero {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 100%;
  text-align: center;
  background-color: #547a8c;
  padding-bottom: 50px;
  padding-top: 100px;
}

.header-big-logo {
    margin-top: 5rem;
    max-width: 5.5rem;
}

.slogan-title {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    color: aliceblue;
    line-height: 50px;
    margin-bottom: 20px;
}

.slogan-subtitle {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    color: rgb(229, 241, 252);
}

/* Three titles in row */

#about-business-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
}

.about-div{
    width: 450px;
    margin: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-div .fa-solid {
    color: #1a85ff;
}

.about-div i {
    border: solid 2px #3493ff;
    background-color: #9bc6f647;
    border-radius: 50%;
    padding: 25px;
}

.about-text {
    color: #002b5d;
    margin-left: 20px;
    font-size: 21px;
    width: 50%;
    height: 100%;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
} 

@media only screen and (max-width: 965px)
{
    .about-div {
        width: 100%;
        height: 120%;
    }

    .about-text {
        font-size: 28px;
        width: 70%;
    }
    
}

/* FEATURED */

#slider-container{
    padding: 80px 0;
}

.featured {
	padding: 20px 0 60px 0;
}

.featured  h2 {
	color: #002b5d;
	width: 90%;
    background-color: #9BF6C2;
    text-align: center;
	margin: 0px auto 24px;
	padding: 10px 0;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.featured ul {
	list-style: none;
	padding: 0;
}

.featured li {
	float: left;
	width: 220px;
	margin: 0 30px;
    background-color: #9bc6f62f;
    border-radius: 5px;
}

.featured li p {
    text-align: center;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 15px;
    color: #00293a;
}

.box i {
    color: #1a85ff;
}

.clearfix {
    display: flex;
    justify-content: center;
	width: 100%;
    overflow: visible;
    margin-top: 60px;
}

.clearfix li {
    transition: all 1.2s;
}

.clearfix li:hover {
    transform: scale(1.2);
}

.frame1 {
	height: 90px;
	width: 203px;
	margin: 0 auto 6px;
	padding: 8px 7px 0;
	text-align: center;
}

@media only screen and (max-width: 750px) {
    .featured h2{
        width: 100%;
        margin: 0;
        padding: 30px 0;
    }
}




/* ========================================================= */
/* About page */
/* ========================================================= */

#about {
    background-color:#efffff;
}

/* about text principal */


.about-container {
    height: 150%;
    width: 100%;
    padding: 120px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-text-container {
    width: 50%;
    display: inline-block;
}

.about-container * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.about-title, .about-subtitle, .about-informationtext {
    width: 80%;
    text-align: center;
    font-family: 'Jost', sans-serif;
}

.about-title {
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 700;
}

.about-subtitle {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about-informationtext {
    text-align: justify;
    line-height: 170%;
    font-size: larger;
    background-color: #1a85ff91;
    padding: 25px;
    border-radius: 5px;
}

.about-img-container img {
/* Responsive img */
    width: 100%;
    height: auto;
}


/* about work */

.about-personal-work-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 150%;
    padding: 80px 0 50px 0;
}

.about-personal-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}


.about-personal-img-container img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.about-personal-work-text-container {
    margin: 0 40px;
    padding: 25px;
    background-color: #9feaead0;
    border-radius: 5px;
}

.about-personal-work-text-container h4 {
    font-size: 26px;
    margin-bottom: 15px;
}

.about-personal-work-text-container p {
    font-size: 18px;
}

@media only screen and (max-width: 920px) {
    
    .about-container {
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .title-section,
    .subtitle-section {
        text-align: center;
        width: 100%;
    }

    .about-text-container {
        width: 100%;
        margin: 0 auto;
    }

    .about-img-container {
        width: 60%;
        padding-top: 20px;
        margin: 0 auto;
    }

    .about-personal-work-container {
        flex-direction: column;
        padding-top: 30px;
    }

    .about-personal-img-container img{
        border-radius: 15px;
    }

    .about-personal-img-container {
        padding-bottom: 14px;
    }
}

/* ========================================================= */


/* ========================================================= */
/* SERVICES PAGE */
/* ========================================================= */


/* ========================================================= */


.service {
    background-color: #e4ffff;
    height: 200%;
    padding: 150px 0;
}

/* Text service */

.our-services-text {
    text-align: center;
    font-size: 48px;
    color: #3995ff;
}

.our-services-text::after {
    content: '';
    background: #000800;
    display: block;
    height: 3px;
    width: 270px;
    margin: 20px auto 50px;
}

.services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}

.service-box {
    width: 20%;
    padding: 50px;
}

/* CARDS */

.service-content-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards {
    width: 300px;
    margin: 10px;
    background-color: #002b5d;
    border-radius: 15px;
    transition: 0.2s;
}

.card-img {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-img i {
    color: #00b34d;
}

.card-body {
    padding: 20px;
    font-family: 'Jost', sans-serif;
}

.card-body h3 {
    text-transform: uppercase;
    color: #1a85ff;
    text-align: center;
}

.card-body p {
    text-align: justify;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px;
    color: #d4e8ff;
    font-weight: 300;
    line-height: 190%;
}

.card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer button {
    width: 150px;
    background-color: transparent;
    color: #74b5ff;
    font-weight: 500;
    border-radius: 15px;
    border: 2px solid black;
    padding: 6px;
    font-size: 17px;
    margin-bottom: 20px;
    transition: 0.2s;
}

.card-footer button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.cards:hover {
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
    background-color: #054ea0;
}

  /* Testimonials */



.outerdiv
{
	width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jost', sans-serif;
}
.innerdiv
{
	margin-bottom: 50px;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2,14rem);
	grid-template-columns: repeat(4,17rem);
}
.eachdiv
{
	padding: 2rem  1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #6d6b6b6b;
    color: white;
}
.div1
{
    padding-bottom: 10px;
    height: fit-content;
	background: #002a5a;
    grid-column: 1/3;
    grid-row: 1/2;
    background-repeat: no-repeat;
    background-position-x: 25rem;
}
.div2
{
	background:#355f8f;
    grid-column: 3/4;
    grid-row: 1/2;
}
.div3
{
	background: #91ffc1;
    grid-column: 4/5;
    grid-row: 1/3;
    color: black;
    height: fit-content;
}
.div4
{
	background: #91ffc1;
	grid-column: 1/2;
    grid-row: 2/3;
    color: black;
}
.div5
{
	background: #2b8aff;
	grid-column: 2/4;
    grid-row: 2/3;
}
.userdetails
{
	display: flex;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 81%);
    font-size: 1.8rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: #001e40;
}
.detbox .designation
{
	color: hsl(0, 0%, 80%);
    opacity: 70%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #49505A;
}
.review h4
{
	font-size: 1.4rem;
	color: #ffffff;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}
.review.dark h4{
	color:#03336b;
}
.review p
{
	font-size: 0.95rem;
    color: #F3DEFF;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}
.review.dark p{
	color: #0e0e0e;
}
.attribution
{
	font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}
.attribution a
{
	text-decoration: none;
}

@media only screen and (max-width: 1000px)
{
	.innerdiv
	{
		transform: scale(0.7);
	}
}
@media only screen and (max-width: 800px)
{
	.innerdiv
	{
		transform: scale(0.6);
	}
}
@media only screen and (max-width: 720px)
{
	.div1 {
		background-position-x: 10rem;
	}
	.innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}
	.attribution
	{
		position: relative;
	}
}

/* ========================================================= */
/* asesories page */
/* ========================================================= */
  
/* CALENDAR & PROMOTION */


#calendly {
    height: 140%;
    padding-top: 180px;
}

.promotion {
    text-align: center;
    padding-top: 30px;
}

.subtitle-section, 
.title-section {
    padding-bottom: 20px;
    color: #000000;
    font-size: 23px;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.subtitle-section i {
    margin-right: 35px;
    color: #5fe66f;
}

.about-service {
    width: 80%;
    padding-top: 50px;
    margin: 0 auto;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.about-service * {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.about-text-info {
    padding: 0 40px;
    font-size: 22px;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    color: #277bdc;
}

.about-text-info span {
    font-weight: 700;
    color: #004ca3;
}

.about-text-info p {
    margin-bottom: 10px;
}

.busines-owner-picture {
    height: auto;
    width: 230px;
    border: solid black 2px;
    border-radius: 15px;
    box-shadow: #414141 0 0 2px 1px;
}

.slogan-service-container {
    background-color: #9BF6C2;
    font-size: 26px;
    font-family: 'Jost', sans-serif;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.slogan-service-container h4 {
    font-weight: 500;
}

.slogan-service-container span {
    font-weight: 700;
}

@media only screen and (min-width: 600px) {
    
    .slogan-service-container {
        padding: 0 60px;
        text-align: center;
    }
}

.calendar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.steps-calendar-contact * {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.step i {
    color: #0d3445;
}

.step p {
    font-family: 'Jost', sans-serif;
    font-style: oblique;
    font-weight: 700;
    color: #18202D;
    font-size: 18px;
    word-spacing: 8px;
}

/* CALENDLY WIDGET */
.calendar-container .calendar {
    width: 100vw;
}


@media only screen and (max-width: 950px) {

    #calendly {
        padding-top: 80px;
    }

    .about-service {
        padding-top: 0px;
        width: 100%;
        flex-direction: column;
    }

    .business-img-container {
        height: 400px;
        width: 80%;
        background-image: url("../imgs/portrait-owner-square.jpg");
        background-position: center;
        background-size:cover;
        border-radius: 15px;
        margin-bottom: 40px;
    }

    .busines-owner-picture {
        display: none;
    }

    .about-text-info {
        padding: 0 16px;
        color: #00293a;
        font-size: 22px;
        font-weight: 500;
        line-height: 180%;
    }

    .about-text-info span {
        font-size: 24px;
    }

    .calendar-container {
        flex-direction: column;
    }
}

/* ========================================================= */
/* FOOTER */
/* ========================================================= */

.footer{
    background:#00293a;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding: 0.6% 0%;
    color:gray;
    font-size:0.8em;
    display: flex;
    gap: 20px;
    justify-content: center;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    display: flex;
    justify-content: center;
    }
    
    .footer h5{
    color: rgb(205, 205, 205);
    font-size: 14px;
    }
    
    .footer .row a i{
    font-size: 34px;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding: 2% 4%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }

    .footer .row {
        margin: 2% 0 ;
    }
    }

/* ========================================================= */
